<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sisionkebank.bankingapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sisonkelogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sisonkelogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TransferBetweenAccountsActivity"></activity>
        <activity android:name=".AccountBalanceActivity" />
        <activity android:name=".MainPageActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>